.center {
    margin:auto;
}

.welcome-message {
    margin: 5%;
    text-align: center;
}

.logo {
    margin: 5% 2% 0;
    max-width: 20%;
}

.authButtons {
    display: flex;
    margin: 5%;
    justify-content: space-between;
}

.login-form {
    margin:5%
}

.authentication-button-container {
    display: flex;
    justify-content: space-around;
}

#sign-in-up-button {
    align-self: center;
    width: 200px;
    height: 40px;
}

#change-to-sign-in-up {
    width: 200px;
    height: 40px;
}

#error-message {
    color: red;
    background-color: yellow;
    margin: auto;
}

#login-navbar{
    float:right;
    margin:1em;
}

#map-nav{
    margin-right:1em;
}