.profileBody{
    background-color: #FFFFCC;
}

.Profile{
    margin:auto;
    text-align:center;
}

#logout{
    float:right;
    margin-top:3%;
    margin-right:2%;
}

#logo {
    margin-top: 5%;
    margin-left:2%;
    max-width: 20%;
}

#avatar > img{
    border-radius: 50%;
}

#userHistory{
    margin:5vw 5vw 0vw 5vw;
    padding-bottom: 20vh; /* change to sticky later */ 
}

#avatar{
    margin: 5vw;
}

#avataredit{
    margin-left: -10px;
    margin-bottom: -100px;
}

#togglebutton{
    max-width:10%;
    margin-left: 1em;
    float:left;
}

#saveEdits{
    margin:1vw;
}

#nameForm{
    display:flex;
    justify-content: center;
    margin-top:1em;
    align-self: center;
}

#emailForm{
    display:flex;
    justify-content: center;
    margin-top:1em;    
    align-self: center;
}

#nameForm > img{
    align-self: center;
}

#emailForm > img{
    align-self: center;
}

#profileHeader{
    margin-right:2vw;
}


#editbutton{
    margin: 1vw;
}


#toggleHeader{
    background-color: #1A8FDD;
}



#toggleButton{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#useravatar{
    max-width: 128px;
}

#uploadbutton{
    display:none;
}