* {
  font-family: Arial, Helvetica, sans-serif;
}




.main-viewport {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* For the search bar */
.bcit-search-process-container {
  background-color: rgb(0, 60, 113);
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.bcit-search-process-container li {
  color: #E5E5E5;
}

.bcit-search-process-container h5 {
  color: #E5E5E5;
}

.bcit-search-process-container p {
  color: #E5E5E5;
}

.bcit-search-process-container .save-journey-button {
  background-color: yellow;
}

.search-process-container {
  background-color: rgb(248, 255, 208);
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#error-search-button {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}

#location-error {
  flex-grow: 9;
  color: rgb(248, 255, 208);
}

#no-result-error {
  flex-grow: 9;
  color: rgb(248, 255, 208);
  z-index: 10;
}

#search-container p {
  margin-left: 3%;
  margin-top: 15px;
}

#route-origin {
  background-color: rgb(245, 148, 57, 0.7);
  width: 95%;
  height: 50px;
  margin-left: 2%;
  padding-left: 5%;
  border: none;
  border-radius: 3px;
}

#route-destination {
  background-color: rgb(88, 164, 206, 0.7);
  width: 95%;
  height: 50px;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5%;
  border: none;
  border-radius: 3px;
}

#submit-search-button {
  background-color: #E5E5E5;
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 15px;
  margin-bottom: 1%;
  margin-right: 3%;
  align-self: flex-end;
}

#submit-search-button img {
  margin-left: -5px;
}

/* For the map */
#map {
  border: 1px solid black;
  height: 60vh;
  width: 100%;
  background-color: bl;
}

/* For the BCIT navbar*/
.bcit-navbar {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 15vh;
  bottom: 0;
  float: left;
  display: flex;
  justify-content: space-between;
}

.bcit-navbar a {
  margin: auto 0;
}


#setCurrentOrgin {
  color :rgb(0, 60, 113)
}

.bcit-navbar a:nth-child(1) button {
  height: 42px;
  width: 42px;
  border-radius: 15px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  margin-left: 3%;
  float: left;
}

.bcit-navbar a:nth-child(1) button img {
  margin-left: -5px;
}

.bcit-navbar a:nth-child(3) button {
  height: 42px;
  width: 42px;
  border-radius: 15px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  margin-right: 0%;
  float: right;
}

.bcit-navbar a:nth-child(3) button img {
  margin-left: -5px;
}

.bcit-navbar a:nth-child(2) button {
  height: 60px;
  width: 170px;
  border-radius: 15px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  margin-right: 10px;
}

.bcit-navbar a:nth-child(2) button img {
  margin-left: -5px;
  margin-top: 0px;
}

/* For route details box */
#route-details-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.back-button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 20px;
}


#travel-details-back-button{
  margin-left: 5px;
  z-index: 10;
}

#travel-details-header{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

#route-details-container button img {
  margin-left: -15px;
}

#transit-route-information ul {
  list-style-type: none;
  display: block;
}
#route-details-buttons {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin : auto;
}

.save-journey-button {
  border: none;
  width: 40%;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(154, 251, 30, 1);
  
  
  margin-bottom: 10px;
}

#emissions-saved-message-container {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin: auto;
}

#emissions-saved-message {
  margin-left: 2%;
  width: 20%;
}

#leaf-icon {
  width: 74.46px;
  height: 43.83px;
  margin-top: 20px;
}

/* Saved transit route prompt */
#route-saved-message-container {
  display: flex;
  text-align: center;
  height: 25vh;
}
#travel-details-container {
  color: grey(154, 251, 30, 1);
  background: rgb(248, 255, 208);
  text-shadow: #9C9C9C 1px 1px 0px;
}

#travel-details-title {
  margin : auto;
}
#route-saved-message-container p:first-child {
  margin-top: 20px;
}

#saved-route-message-emissions-saved {
  font-weight: bold;
}

#route-saved-message-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#facebook-share-button {
  margin-right: 10px;
}

#accept-button {
  background-color: rgba(154, 251, 30, 1);
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

@media (max-width: 300px) {

  .navbar a:nth-child(2) button img {
    width:50vw;
  }

  .navbar a:nth-child(2) button {
    width:50vw;
  }

  .bcit-navbar a:nth-child(2) button img {
    width:50vw;
  }

  .bcit-navbar a:nth-child(2) button {
    width:50vw;
  }
}

/*Off-screen Tacos*/
.taco1 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco2 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco3 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco4 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}

/*Falling Tacos*/
@keyframes falling{
  from {
    top: -25vh;
    transform: rotate(0deg);
  }
  to {
    top: 150vh;
    transform: rotate(720deg);
  }
}

.falling-taco1 {
  z-index: 10;
  position: absolute;
  width: 20vh;
  animation-name: falling;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.falling-taco2 {
  z-index: 10;
  position: absolute;
  width: 20vh;
  top: -10vh;
  left: 25vw;
  animation-name: falling;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.falling-taco3 {
  z-index: 10;
  position: absolute;
  width: 20vh;
  top: -5vw;
  left: 50vw;
  animation-name: falling;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.falling-taco4 {
  z-index: 10;
  position: absolute;
  width: 20vh;
  top: -15vw;
  left: 75vw;
  animation-name: falling;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}