* {
  font-family: Arial, Helvetica, sans-serif;
}

.main-viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* For the search bar */
.bcit-search-process-container {
  background-color: rgb(0, 60, 113);
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.bcit-search-process-container li {
  color: #E5E5E5;
}

.bcit-search-process-container h5 {
  color: #E5E5E5;
}

.bcit-search-process-container p {
  color: #E5E5E5;
}

.bcit-search-process-container .save-journey-button {
  background-color: yellow;
}

.search-process-container {
  background-color: rgb(248, 255, 208);
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#search-container p {
  margin-left: 3%;
  margin-top: 15px;
}

#route-origin {
  background-color: rgb(245, 148, 57, 0.7);
  width: 95%;
  height: 50px;
  margin-left: 2%;
  padding-left: 5%;
  border: none;
  border-radius: 3px;
}

#route-destination {
  background-color: rgb(88, 164, 206, 0.7);
  width: 95%;
  height: 50px;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5%;
  border: none;
  border-radius: 3px;
}

#submit-search-button {
  background-color: #E5E5E5;
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 15px;
  margin-bottom: 1%;
  margin-right: 3%;
  align-self: flex-end;
}

#submit-search-button img {
  margin-left: -5px;
}

/* For the map */
#map {
  border: 1px solid black;
  height: 60vh;
  width: 100%;
  background-color: bl;
}

/* For route details box */
#route-details-container {
  height: 25vh;
  display: none;
}

.back-button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 20px;
}

#route-details-container button img {
  margin-left: -15px;
}

#transit-route-information ul {
  list-style-type: none;
  display: block;
}

.save-journey-button {
  border: none;
  border-radius: 5px;
  margin: auto;
  padding: 8px;
  background-color: rgba(154, 251, 30, 1);
  width: 60%;
  margin-bottom: 10px;
}

#emissions-saved-message-container {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin: auto;
}

#emissions-saved-message {
  margin-left: 2%;
  width: 20%;
}

#leaf-icon {
  width: 74.46px;
  height: 43.83px;
  margin-top: 20px;
}

/* Saved transit route prompt */
.journey-saved-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.journey-saved-container p:nth-child(1) {
  margin-top: 30px;
}

#transit-journey-saved-container {
  display: none;
}

@media (max-width: 300px) {

  .navbar a:nth-child(2) button img {
    width:50vw;
  }

  .navbar a:nth-child(2) button {
    width:50vw;
  }

  .bcit-navbar a:nth-child(2) button img {
    width:50vw;
  }

  .bcit-navbar a:nth-child(2) button {
    width:50vw;
  }
}

/*Off-screen Tacos*/
.taco1 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco2 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco3 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}
.taco4 {
  position: absolute;
  width: 10vw;
  top: -10vw;
}

/*Falling Tacos*/
#taco-div {
  overflow: hidden;
}
@keyframes falling{
  from {
    top: -10vw;
    transform: rotate(0deg);
  }
  to {
    top: 150vw;
    transform: rotate(720deg);
  }
}

.falling-taco1 {
  position: relative;
  width: 10vw;
  animation-name: falling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.falling-taco2 {
  position: relative;
  width: 10vw;
  top: -10vw;
  animation-name: falling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.falling-taco3 {
  position: relative;
  width: 10vw;
  top: -5vw;
  animation-name: falling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.falling-taco4 {
  position: relative;
  width: 10vw;
  top: -15vw;
  animation-name: falling;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}