#firebaseui-auth-container {
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 25vh;
    padding-top: 50px;
    border: none !important;
    box-shadow: none;
    background-color: #1e0070;
    border-radius: 20px;
}

#firebaseui-auth-container h1 {
    color: white;
    margin-left: 18vw;
}